$primary-color: #ffffff;
$links-color: #3B589F;
$background-color : #fafafa;
$inactive-action-btn-color : #89b0eb;
$border-color : #DBDBDB;
$secondary-text-color : #AEAEAE;


$footer-font-size : 12px;

$btn-border-radius: 3px;

$primary-font: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;